
{% extends 'base.html' %} <!-- Add this for inheritance -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ASCII">
  
</head>

<body>
	{% block pagecontent %}

	<!-- <div id="nav">
	     <ul>
	         <li><a href="#mainpage">mainpage</a></li>
	         <li><a href="#secondpage">secondpage</a></li>
	         <li><a href="#contact">Contact</a></li>
	     </ul>
	</div> -->

 <header class="masthead text-center text-white d-flex">
  <div id = "page1" class = "container">
  	<a id="mainpage">
		<section class="page-title1">
			<div class="col-md-12 text-uppercase">
					<h1> Waypoints <!-- Application --> </h1>
			</div>
		</section>

		<section class="info-text col-md-12">
			<p> A Simplified way to find the weather information along your route</p>
		</section>

		<div class = "button">
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-padding btn-primary btn-xl js-scroll-trigger" href="#secondpage">Try it out</a>
				</div>
			</div>
		</div>
	</a>
  </div>
 </header>

	<section class="second-page" id="secondpage">
	<br>
	<br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">Check the weather along the route</h2>
            <p class="text-faded mb-4">Enter the Start Location and the End Location Location of the route along which you want the weather information to be displayed and press Find</p>
          </div>
        </div>

        <div class="row">
        	<form class="form-group" action="/server/" method ="get">
        	{% csrf_token %}
	        	<div class="col-lg-5 mx-auto text-center">
				  <label for="from_location">From:</label>
				  <input type="text" class="form-control" id="from_location" name = "from_location" placeholder="Eg: Buffalo">
				</div>

				<div class="col-lg-5 mx-auto text-center">
				  <label for="to_location">To:</label>
				  <input type="text" class="form-control" id="to_location" name="to_location" placeholder="Eg: Rochester">
				</div>

				<div class = "col-md-2">
					<input type="submit" onclick="handler()" class= "btn btn-padding1 btn-primary1 btn-xl" value="Find">
				</div>
			</form>
		</div>	
		<br>
		<br>
		<br>
      </div>
    </section>

    <section id="map"></section>

   <script>

    // display map //
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 37.090, lng: -95.712}
        });
        directionsDisplay.setMap(map);

        if({{flag}} == 1){
      		calculateAndDisplayRoute(map, directionsService, directionsDisplay);
      	}
      }

      // attach weather information to markers // 
      function attachInstructionText(stepDisplay, marker, text, map) {
        google.maps.event.addListener(marker, 'click', function() {
          stepDisplay.setContent(text);
          stepDisplay.open(map, marker);
        });
      }

      // points waypoints markers in map //
      function showSteps(directionResult, markerArray, stepDisplay, map) {
        var myRoute = directionResult.routes[0].legs[0];
        var weather = JSON.parse('{{weather_waypoints| escapejs}}');

        for (var i = 0; i < myRoute.steps.length; i++) {
          var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
          marker.setMap(map);
          marker.setPosition(myRoute.steps[i].start_location);

          marker_weather = weather[String(i+1)];
          
          const text =    `<div> <center> <b> ${marker_weather.name} </b></center> </div>
                          <div> <b> Temperate High: </b> ${(marker_weather.temp_max_c)} <b> C</b> /   ${(marker_weather.temp_max_f)} <b>F</b> </div>
                          <div> <b> Temperaute Low: </b> ${(marker_weather.temp_min_c)}  <b> C</b> /  ${(marker_weather.temp_min_f)} <b>F</b> </div>
                          <div> <b> Sunrise: </b> ${marker_weather.sunrise}; <b> Sunset: </b> ${marker_weather.sunset} </div>
                          <div> <b> Clouds: </b> ${marker_weather.clouds} </div>
                          <div> <b> Wind Speed: </b>${marker_weather.wind_speed};<b>  Wind Degree: </b>${marker_weather.wind_deg} </div>
                          <div> <b> Humidity: </b> ${marker_weather.humidity} </div>`;


          attachInstructionText(
              stepDisplay, marker, text, map);
        }
      }

      // plot directions on map //
      function calculateAndDisplayRoute(map, directionsService, directionsDisplay) {
        var response = JSON.parse('{{directions_result | escapejs }}');
          console.log(response)
          response = response
          typecastRoutes(response['routes'])
          
        directionsDisplay.setDirections(response);
        markerArray = [];
        var stepDisplay = new google.maps.InfoWindow;
        var markerArray = [];
        showSteps(response, markerArray, stepDisplay, map);
      }
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap&libraries=geometry">
    </script>

  {% endblock %}
</body>
</html>