
{% extends 'base.html' %} <!-- Add this for inheritance -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ASCII">
  
</head>

<body>
	{% block pagecontent %}

	<!-- <div id="nav">
	     <ul>
	         <li><a href="#mainpage">mainpage</a></li>
	         <li><a href="#secondpage">secondpage</a></li>
	         <li><a href="#contact">Contact</a></li>
	     </ul>
	</div> -->

 <header class="masthead text-center text-white d-flex">
  <div id = "page1" class = "container">
  	<a id="mainpage">
		<section class="page-title1">
			<div class="col-md-12 text-uppercase">
					<h1> Waypoints <!-- Application --> </h1>
			</div>
		</section>

		<section class="info-text col-md-12">
			<p> A Simplified way to find the weather information along your route</p>
		</section>

		<div class = "button">
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-padding btn-primary btn-xl js-scroll-trigger" href="#secondpage">Try it out</a>
				</div>
			</div>
		</div>
	</a>
  </div>
 </header>

	<section class="second-page" id="secondpage">
	<br>
	<br>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">Check the weather along the route</h2>
            <p class="text-faded mb-4">Enter the Start Location and the End Location Location of the route along which you want the weather information to be displayed and press Find</p>
          </div>
        </div>

        <div class="row">
        	<form class="form-group" action="/server/" method ="get">
        	{% csrf_token %}
	        	<div class="col-lg-5 mx-auto text-center">
				  <label for="from_location">From:</label>
				  <input type="text" class="form-control" id="from_location" name = "from_location" placeholder="Eg: Buffalo">
				</div>

				<div class="col-lg-5 mx-auto text-center">
				  <label for="to_location">To:</label>
				  <input type="text" class="form-control" id="to_location" name="to_location" placeholder="Eg: Rochester">
				</div>

				<div class = "col-md-2">
					<input type="submit" onclick="handler()" class= "btn btn-padding1 btn-primary1 btn-xl" value="Find">
				</div>
			</form>
		</div>	
		<br>
		<br>
		<br>
      </div>
      <!-- <button type="submit" onclick="getLocation()" class= "btn btn-padding1 btn-primary1 btn-xl" value="Find"> -->
    </section>

    <!-- <form action="/your-name/" method="get">
	    <label for="your_name">Your name: </label>
	    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
	    <input type="submit" value="OK">

	</form>
	<input type = "text" placeholder="NAME"></input> -->
   
   <!-- <script>
      var map;
      function Mapssss() {
        console.log("here");
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.090, lng: -95.712},
          zoom: 5
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxW4eIn3MlXuOLrHLiMyCNVJpuQ8lWHeA&callback=Mapssss"
    async defer></script> -->

    <section id="map"></section>

   <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 37.090, lng: -95.712}
        });
        directionsDisplay.setMap(map);

        if(true == true){
      		calculateAndDisplayRoute(directionsService, directionsDisplay);
      	}
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        // var x = 
        // var x = $('<div>').html({{response}})[0].textContent;
        // var x = {{response}};
        var text = {{directions_result.as_json}}
        console.log(text)
        // console.log(text.replace(/&quot;/g,'"'))
        // console.log(text)
        // console.log(JSON.parse(JSON.stringify({{directions_result}})))
          directionsDisplay.setDirections(text);
      }

      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATAK_TUFNYXoj692Mt3djzreazhlWD3Do&callback=initMap">
    </script>



  {% endblock %}
</body>
</html>